<template>
  <div>
    <h1>My page</h1>
    <h3>{{ $route.params.name }} {{ name }}</h3>
    <img src="../assets/myImage.png" alt="" >
  </div>
</template>
<script>
export default {
  props: ['name']
}
</script>
<style></style>
