<template>
  <div
    @click="clickCell"
    :class="{ cell: true, cellX: player === 'X', cellO: player === 'O',grade:grade===true }"
  >
    {{ player }}
  </div>
</template>
<script>
export default {
  props: ['player', 'row', 'column', 'grade'],
  methods: {
    clickCell (event) {
      // เช็คว่าถ้าไม่เป็น  -  ก็ไม่ต้องส่งอะไรกลับ
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.column)
    }
  }
}
</script>
<style>
.cell {
  font-size: 30pt;
}
.cellO {
  color: green;
}

.cellX {
  color: red;
}

.grade {
  background-color: yellow;
}
</style>
