<template>
  <div v-if="finish">
    <!-- <span v-if="winner !== ''">{{ winner }} Win!!</span>
    <span v-else>Draw !!!</span> -->
    <span>{{ result }}</span>
    <button @click="newgame()">New game</button>
  </div>
  <div v-else>{{ turn }}</div>
  <div>
    <table>
      <tr v-for="(line, lineId) in table" :key="lineId">
        <td v-for="(item, itemId) in line" :key="itemId">
          <OXCell
            :player="table[lineId][itemId]"
            :row="lineId"
            :column="itemId"
            :grade="gradeTable[lineId][itemId]"
            @cell-click="cellClick"
          />
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import OXCell from './OXcell.vue'
export default {
  data () {
    return {
      count: 0,
      finish: false,
      winner: '',
      turn: 'O',
      table: [
        ['-', '-', '-'],
        ['-', '-', '-'],
        ['-', '-', '-']
      ],
      gradeTable: [
        [false, false, false],
        [false, false, false],
        [false, false, false]
      ]
    }
  },
  components: {
    OXCell
  },
  methods: {
    cellClick (row, column) {
      if (this.finish) return
      this.table[row][column] = this.turn
      this.count++
      if (this.checkWin(row, column) === true) {
        this.finish = true
        this.winner = this.turn
        console.log('Win')
        return
      }
      if (this.count === 9) {
        this.finish = true
        return
      }
      this.switchTurn()
    },
    initTable () {
      for (let row = 0; row < 3; row++) {
        for (let col = 0; col < 3; col++) {
          this.table[row][col] = '-'
        }
      }
      for (let row = 0; row < 3; row++) {
        for (let col = 0; col < 3; col++) {
          this.gradeTable[row][col] = false
        }
      }
    },
    switchTurn () {
      if (this.turn === 'O') {
        this.turn = 'X'
      } else {
        this.turn = 'O'
      }
    },
    newgame () {
      this.count = 0
      this.finish = false
      this.winner = ''
      this.initTable()
      this.randomPlayer()
    },
    randomPlayer () {
      if (Math.floor(Math.random() * 100) % 2 === 0) {
        this.turn = 'O'
      } else {
        this.turn = 'X'
      }
    },
    checkWin (row, column) {
      if (
        this.checkRow(row) ||
        this.checkColumn(column) ||
        this.checkX1() ||
        this.checkX2()
      ) {
        return true
      }

      return false
    },
    checkRow (row) {
      for (let column = 0; column < 3; column++) {
        if (this.table[row][column] !== this.turn) {
          return false
        }
      }
      for (let column = 0; column < 3; column++) {
        this.gradeTable[row][column] = true
      }
      return true
    },
    checkColumn (column) {
      for (let row = 0; row < 3; row++) {
        if (this.table[row][column] !== this.turn) {
          return false
        }
      }
      for (let row = 0; row < 3; row++) {
        this.gradeTable[row][column] = true
      }
      return true
    },
    checkX1 () {
      for (let index = 0; index < 3; index++) {
        if (this.table[index][index] !== this.turn) {
          return false
        }
      }
      for (let index = 0; index < 3; index++) {
        this.gradeTable[index][index] = true
      }
      return true
    },

    checkX2 () {
      for (let index = 0; index < 3; index++) {
        if (this.table[index][2 - index] !== this.turn) {
          return false
        }
      }
      for (let index = 0; index < 3; index++) {
        this.gradeTable[index][2 - index] = true
      }
      return true
    }
  },
  mounted () {
    this.randomPlayer()
  },
  computed: {
    result () {
      if (this.finish && this.winner === '') {
        return 'Draw!!!'
      } else {
        return this.turn + ' Win!!!'
      }
    }
  }
}
</script>
<style>
table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
td {
  text-align: center;
  /* vertical-align: middle; */
  width: 50pt;
  height: 50pt;
}
</style>
